/* form {
    text-align: center;
    margin-top: 100px;
    line-height: 2em;
    font-family: cursive;
    font-style: italic;
    font-size: 100px;
}
h1 {
    text-align: center;
}
.question{
    font-style: italic;
} */