.error {
    color: #FF0000;
}

table {
    width: 500px;
    border-collapse: collapse;
    border: 3px solid rgb(30, 148, 202);
}

th, td {
    border: 1px solid rgb(30, 148, 202);
}

.box {
    position: absolute;
    margin-left: calc(50% - 250px);
    width: 500px;
    text-align: center;
    line-height: 1.5;
}